@tailwind base;
@tailwind components;
@tailwind utilities;

.good-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

#account-submenu { transform: translate(calc(100vw - 100% - 1rem), 3rem); }
